@media screen and (max-width: 992px) {

    body{
        margin: 0;
        padding: 0;
    }
    .corp { 
        font-size: 20px;
        
    }
    .background{
        display: none;
    }

    .entete {
        height: 30em;
    }

    
    /* Titre  */
    .entete h1{
        font-size: 35px;
        position:static;
        top: 30%;
        width: 100%;

    }
    
        
    h2{
        font-size: 30px;

    }


    .bienvenue{
        transform: translateY(-60px);
        font-size: 14px;

    }
    .parallax-bienvenue {
        height: 22rem;
        display: flex;
    }

    .bulle {
        height: 250px;
        width: 200px;
        left: -27%;
    }

    .triangle{
        left: 55%;
        top: 25%;
    }

    .avatar{
        top: -105%;
        left: 115%;
        width: 40%;
    }

    .competences_conteneur {
        position: relative;
        top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .competence_techno-card,
    .competence_framework-card,
    .competence_cms-card{
        width: 95%;
    }


    .projets__card{
        width: 90%;
        
    }

    .projets{
        margin-bottom: 2%;
    }

    .contact-conteneur {
        top: 10%;
        width: 70%;
    }

    .contact-conteneur .bulle{
        height: 350px;
        width: 270px;
        font-size: 16px;
    }

    .contact-conteneur .triangle{
        position: absolute;
        left: 58%;
        top: 100%;
    }

    .contact-conteneur .avatar{
        position: absolute;
        left: 3%;
        top: 101%;
    }

    footer{
        padding: 3%;
    }
}

