@media screen and (min-width: 200px) , (max-width: 992px) {

    body{
        margin: 0;
        padding: 0;
    }
    .corp { 
        font-size: 20px;
        
    }
    .background{
        display: none;
    }

    .entete {
        height: 30em;
    }

    
    /* Titre  */
    .entete h1{
        font-size: 35px;

    }
    
        
    h2{
        font-size: 30px;
        margin: auto;
    }


    .bienvenue{
        transform: translateY(-60px);
        font-size: 14px;
        position: absolute;
        left: 0;
    }
    .parallax-bienvenue {
        height: 22rem;
    }

    .bulle {
        height: 200px;
        width: 375px;
        color: white;
        background: rgba(107, 241, 205);
        border-radius: 25%;
        position: relative;
        left: 15%;
        top: 20%;
    }

    .triangle{
        left: 107%;
        top: 20%;
    }

    .avatar{
        top: -160%;
        left: 99%;
    }

    .competences_conteneur {
        position: relative;
        top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }

    .competence_techno-card,
    .competence_framework-card,
    .competence_cms-card{
        width: 95%;
    }


    .projets__card{
        width: 90%;
        
    }

    .projets{
        margin-bottom: 2%;
    }



    
    .contact{
        width: 90%;
        margin: auto;
    }

    footer{
        padding: 3%;
    }
}