@media screen and (max-width: 900px) {

    body{
        margin: 0;
        padding: 0;
    }
    .corp { 
        font-size: 20px;
        
    }
    .background{
        display: none;
    }

    .entete {
        height: 30em;
    }

    /* Titre  */
    .entete h1{
        font-size: 35px;
        position:static;
        top: 30%;
        width: 100%;
    }

    h2{
        font-size: 30px;
    }

    .bienvenue{
        transform: translateY(-60px);
        font-size: 14px;

    }
    .parallax-bienvenue {
        height: 22rem;
        display: flex;
    }

    .bulle {
        height: 250px;
        width: 200px;
        left: -27%;
    }

    .triangle{
        left: 55%;
        top: 25%;
    }

    .avatar{
        top: -105%;
        left: 115%;
        width: 40%;
    }

    .competences {
        height: 115rem;
    }

    .competences_conteneur {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 85%;
        top: 2%;
    }
    .front h5{
        margin-top: 0;
        animation: none;
        animation-direction:none;
    }


    .competence_cms-card h5{
        margin-top: 0;
    }


    .competence_techno-card,
    .competence_framework-card,
    .competence_cms-card{
        width: 50%;
        height: 100%;
    }

    .techno-card-display {
        display: flex;
        margin-top: 2%;
    }

    .competence-Area-HTML,
    .competence-Area-CSS,
    .competence-Area-JS,
    .competence-Area-PHP,
    .competence-Area-SQL{
        padding: 2%;
        width: 60%;
    }

    .competence-HTML .competence-name{
        margin-left: 10%;
    }
    
    .competence-CSS .competence-name{
        margin-left: 13%;
    }
    
    .competence-JS .competence-name{
        margin-left: 1%;
    }
    
    .competence-PHP .competence-name{
        margin-left: 7%;
    }
    
    .competence-SQL .competence-name{
        margin-left: 10%;
    }


    .framework-card-display {
        margin-top: 20%;
    }

    .competence-SYMFO .competence-name{
        margin-left: -4%;
    }

    .competence-LARAVEL .competence-name{
        margin-left: 0;
    }

    .cms-card-display {
        margin-top: 35%;
    }

    .projets__card{
        width: 90%;
        
    }

    .projets{
        padding: 4%;
    }

    .hovereffect a.info {
        margin: 10% 0 0 0;
        padding: 15% 15%;
    }

    .contact-conteneur {
        top: 10%;
        width: 70%;
    }

    .contact-conteneur .bulle{
        height: 350px;
        width: 270px;
        font-size: 16px;
    }

    .contact-conteneur .triangle{
        position: absolute;
        left: 58%;
        top: 100%;
    }

    .contact-conteneur .avatar{
        position: absolute;
        left: 3%;
        top: 101%;
    }

    .container_social{
        position: relative;
        top: 39%;
        left: -27%;
        transform: none;
    }

    .social_logo{
        width: 8%;
    }
    footer{
        padding: 3%;
    }
}


@media screen and (min-width: 700px) and (max-width: 880px) {

    .techno-card-display {
        margin-top: 0;
        width: 90%;
        margin-left: 5%;
    }

    .competence-HTML .competence-name{
        margin-left: 17%;
    }

    .competence-CSS .competence-name{
        margin-left: 21%;
    }

    .competence-JS .competence-name{
        margin-left: 10%;
    }

    .competence-PHP .competence-name{
        margin-left: 14%;
    }

    .competence-SQL .competence-name{
        margin-left: 17%;
    }


    .framework-card-display {
        margin-top: 10%;
    }

    .competence-SYMFO .competence-name{
        margin-left: 10%;
    }
    
    .competence-LARAVEL .competence-name{
        margin-left: 10%;
    }



    .hovereffect a.info {
        margin: 11% 20px 0 0;
        padding: 20% 20%;
    }

}

@media screen and (min-width: 200px) and (max-width: 692px){
    .techno-card-display {
        display: flex;
        margin-top: 14%;
    }

    .competence_techno-card, .competence_framework-card, .competence_cms-card {
        width: 85%;
        height: 100%;
    }

    .cms-card-display {
        margin-top: 60%;
    }
}