/* Couleur */
html{
  --text-font-family: 'Goldman', cursive, sans-serif;
  --title-font-family: 'Passion One', cursive, sans-serif; 
  --title-color : rgb(96, 87, 215);
  --color-hover :rgb(255, 232, 139);
  --texte-color : rgb(143, 237, 247);
  --bg-color :rgb(202, 227, 255); 
  --bg-color-card-skills : rgb(254, 137, 146);
}


header {
  text-align: center; 
  margin: auto; 
  color: white;

}

.nav-link:active {
  background-color: rgb(143, 237, 247);

}
.nav-link:hover{
  background-color: rgb(143, 237, 247);
  color: var(--title-color );
}


.entete {
  height: 40em;
}

.parallax-entete{
  background-image: url(../pictures/responsive-color.jpg); 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;

}

.entete h1{
  position: absolute;
  top: 200px;
  left: 30%;
  padding: 0.5em;
  color: var(--title-color);
  background-color:rgba(107, 241, 205);
  font-size: 45px;
  font-family: 'Goldman', cursive;
}


/* Titre  */


h2{
  padding: 0.3em;
  text-align: center;
  color: var(--title-color );
  font-size: 35px;
  font-family: 'Passion One', cursive, sans-serif;
  font-weight: bold;
}

h3 {
  color: var(--title-color);
  font-family: 'Passion One', cursive, sans-serif;;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.competences h3 {

  font-size: 60px;
}

.projets h3 {
  font-size: 60px;
}


.corp { 
  font-size: 25px;
  
}


nav  a, li{
  color: white;
} 

li:hover {
  color: rgb(107, 241, 206);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*             BIENVENUE
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bienvenue{
  margin-bottom: 8%;
  /* background-color:rgba(107, 241, 205); */
  padding: 2%;
  

}

.bulle {
  height: 300px;
  width: 375px;
  color: white;
  background: rgba(107, 241, 205);
  border-radius: 25%;
  position: relative;
  left: 60%;
  top: 20%;
  padding: 4%;
}

.triangle {
  width: 0;
  border-top: 40px solid rgba(107, 241, 205);
  border-left: 17px solid transparent;
  border-right: 45px solid transparent;
  cursor: pointer;
  position: absolute;
  left: 75%;
  top: 20%;
}
.parallax-bienvenue{
  background-image: url(../pictures/responsive-color.jpg); 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;

  width: 100%;

  display: flex; 
  flex-direction: column;
  align-items: center;

  display: none;
}

.bulle--on {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.avatar{
  position: relative;
  top: -110%;
  left: 100%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*             COMPETENCES
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.competences{
  background-color: rgb(255, 115, 194);
  height: 60rem;
}

.front, .back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  padding: 3%;
  backface-visibility: hidden;
}

.front{
  text-align: center;
}

.back{
  transform: rotateY(180deg);
}

.front h5{
  text-transform: uppercase;
  color: rgb(255, 115, 194);
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
  margin-top: 10%;
  writing-mode: vertical-rl;
  animation: slide 6s linear infinite /*or*//*reverse*/;
  animation-direction: alternate;
}
@keyframes slide  {
  from{transform: translatey(0%);}
  to{transform: translatey(70%); }
}

.competence_cms-card h5{
  writing-mode: vertical-rl;
  animation: slide-cms 6s linear infinite /*or*//*reverse*/;
  animation-direction: alternate;
}@keyframes slide-cms  {
  from{transform: translatey(0%);}
  to{transform: translatey(300%); }
}

.competence_cms-card:hover  {
  transform: rotateY(180deg);
  perspective: 900px;

}

.competence_techno-card:hover {
  transform: rotateY(180deg);
  perspective: 900px;
}
.competence_framework-card:hover {
  transform: rotateY(180deg);
  perspective: 900px;
}


.competence_techno-card,
.competence_framework-card,
.competence_cms-card{
  position: relative;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.432);
  border-radius: 15%;
  margin: 2%;
  width: 33%;
  flex-wrap: wrap;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: 2s ease-in-out;
}


.competence-name{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10%;
  color: rgb(255, 115, 194);
}


.competences_conteneur{
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70%;
  
}

.techno-card-display{
  display: flex;
  margin-top: 5%;
}

.competence_droite{
  margin-left: 10%;
}
.competence_droite,
.competence_gauche{
  width: calc(100% /2);
  
}

.competence-Area-HTML,
.competence-Area-CSS,
.competence-Area-JS,
.competence-Area-PHP,
.competence-Area-SQL{
  padding: 2%;
  width: 70%;
}

.competence-HTML .competence-name{
  margin-left: 20%;
}

.competence-CSS .competence-name{
  margin-left: 23%;
}

.competence-JS .competence-name{
  margin-left: 12%;
}

.competence-PHP .competence-name{
  margin-left: 16%;
}

.competence-SQL .competence-name{
  margin-left: 20%;
}


.competence_framework-card{
  display: flex;
  flex-direction: row;
}

.framework-card-display{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 25%;
}

.competence_framework{
  display: flex;
  justify-content: center;

}

.competence-Area-SYMFO,
.competence-Area-LARAVEL{
  padding: 2%;
  margin: 2%;
  width: 100%;
}

.competence-SYMFO,
.competence-LARAVEL{
  margin: 2%;
  width: 20%;
}

.competence-SYMFO .competence-name{
  margin-left: 10%;
}

.competence-LARAVEL .competence-name{
  margin-left: 15%;
}

.competence-WORDPRESS{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competence-WORDPRESS .competence-name{
  margin-left: 0%;
}

.cms-card-display{
  margin-top: 25%;
}

.competence-Area-WORDPRESS {
  width: 25%;
  padding: 2%;
}

.section{
  height: 10rem;
  
}

.parallax-section{
  background-image: url(../pictures/responsive-color.jpg); 
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;

  width: 100%;
  
  display: flex; 
  flex-direction: column;
  align-items: center;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              PROJECTS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.parallax-projet{
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;

  width: 100%;

  display: flex; 
  flex-direction: column;
  align-items: center;
}

.projets {
  display: flex; 
  flex-direction: column;
  align-items: center;
  position:relative;
  background: rgba(96, 87, 215, 0.582);
  height: 85rem;
}


.projets__card{
  margin: 2% 2% 2% 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-hover);
  width: 40%;
}


.projets__card--img{
  padding: 2em;
  overflow: hidden;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              Images projet styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hovereffect {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(255, 232, 139, 0.582);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h5 {
  text-transform: uppercase;
  color: var(  --title-color);
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgb(255, 232, 139);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);

}

.hovereffect:hover h5 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  margin: 20% 0 0 0;
  padding: 20% 20%;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*              bas de page
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact {
  background-image: url(../pictures/contact_bulle.jpg) ;
  text-align: center;  
  padding: 1%;
  height: 35rem;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.contact-conteneur{
  /* background-color:rgba(107, 241, 205, 0.582); */
  position: relative;
  top: 10%;

}

.contact-conteneur .bulle{
  height: 420px;
  width: 585px;
  color: white;
  background: rgba(107, 241, 205);
  border-radius: 25%;
  position: relative;
  /* top: -33%; */
  left: 33%;
  padding: 2%;
}

.contact-conteneur .triangle{
  
  width: 0;
  border-top: 40px solid rgba(107, 241, 205);
  border-left: 17px solid transparent;
  border-right: 45px solid transparent;
  position: absolute;
  left: 69%;
  top: 50%;
  
}

.contact-conteneur .avatar{
  position: absolute;
  top: 15%;
  left: 100%;
}

.contact a{
  text-decoration: none;
}

b{
  color: var(--title-color);
}

footer {
  text-align: center;
  color: white;
  background-color: var(  --bg-color-card-skills);
  padding: 2%;
}


* {
  box-sizing: border-box;
}


/* ##################################################################### */
/* ##################### ERRORS #################################### */
/* ##################################################################### */

.errors{
  height: 800px;
  width: 1200px;
}